.lm_four_banner img {
    height: auto;
    width: 100%;
}
p#socialicons3 {
    margin: 0;
}
.lm_eight_down img {
    width: 60px;
}
img.mlsimg { width: 90%; margin-left: 4px; }
.lm_four {
    margin-top: 19px;
    margin-bottom: 80px;
}

