.nycont_sgkjj img {
    height: auto;
    width: 23%;
}
.lm_four_banner img {
    height: auto;
    width: 100%;
}
p#socialicons3 {
    margin: 0;
}
.lm_eight_down img {
    width: 60px;
}
